api/src/main/resources/jakarta/persistence/persistence_4_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2008, 2024 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0,
    or the Eclipse Distribution License v. 1.0 which is available at
    http://www.eclipse.org/org/documents/edl-v10.php.

    SPDX-License-Identifier: EPL-2.0 OR BSD-3-Clause

-->

<!-- persistence.xml schema -->
<xsd:schema targetNamespace="https://jakarta.ee/xml/ns/persistence"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:persistence="https://jakarta.ee/xml/ns/persistence"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="4.0">

   <xsd:annotation>
     <xsd:documentation><![CDATA[

     This is the XML Schema for the persistence configuration file.
     The file must be named "META-INF/persistence.xml" in the
     persistence archive.

     Persistence configuration files must indicate
     the persistence schema by using the persistence namespace:

     https://jakarta.ee/xml/ns/persistence

     and indicate the version of the schema by
     using the version element as shown below:

      <persistence xmlns="https://jakarta.ee/xml/ns/persistence"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence
          https://jakarta.ee/xml/ns/persistence/persistence_4_0.xsd"
        version="4.0">
          ...
      </persistence>

    ]]></xsd:documentation>
  </xsd:annotation>

  <xsd:simpleType name="versionType">
    <xsd:restriction base="xsd:token">
      <xsd:pattern value="[0-9]+(\.[0-9]+)*"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- **************************************************** -->

  <xsd:element name="persistence">
    <xsd:complexType>
      <xsd:sequence>

        <xsd:element name="jta-data-source-definition"
                     minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="persistence:data-source-definition-type">
                <xsd:attribute name="name" type="xsd:string" use="required">
                  <xsd:annotation>
                    <xsd:documentation>
                      JNDI name by which the data source will be registered.
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:attribute>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="non-jta-data-source-definition"
                     minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="persistence:data-source-definition-type">
                <xsd:attribute name="name" type="xsd:string" use="required">
                  <xsd:annotation>
                    <xsd:documentation>
                      JNDI name by which the data source will be registered.
                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:attribute>
              </xsd:extension>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>

        <!-- **************************************************** -->

        <xsd:element name="persistence-unit"
                     minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:annotation>
              <xsd:documentation>

                Configuration of a persistence unit.

              </xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>

            <!-- **************************************************** -->

              <xsd:element name="description" type="xsd:string"
                           minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>

                    Description of this persistence unit.

                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>

              <!-- **************************************************** -->

              <xsd:element name="provider" type="xsd:string"
                           minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>

                    Provider class that supplies EntityManagers for this
                    persistence unit.

                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>

              <!-- **************************************************** -->

              <xsd:element name="qualifier" type="xsd:string"
                           minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>

                    Qualifier annotation class used for dependency injection.

                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>

              <!-- **************************************************** -->

              <xsd:element name="scope" type="xsd:string"
                           minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>

                    Scope annotation class used for dependency injection.

                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>

              <!-- **************************************************** -->
              <xsd:choice minOccurs="0">
                <xsd:element name="jta-data-source" type="xsd:string">
                  <xsd:annotation>
                    <xsd:documentation>

                      The container-specific name of the JTA datasource to use.

                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>

                <xsd:element name="jta-data-source-definition"
                             type="persistence:data-source-definition-type">
                  <xsd:annotation>
                    <xsd:documentation>

                      Definition of the JTA datasource to use.

                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:choice>

              <!-- **************************************************** -->
              <xsd:choice minOccurs="0">
                <xsd:element name="non-jta-data-source" type="xsd:string"
                             minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>

                      The container-specific name of a non-JTA datasource to use.

                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>

                <xsd:element name="non-jta-data-source-definition"
                             type="persistence:data-source-definition-type"
                             minOccurs="0">
                  <xsd:annotation>
                    <xsd:documentation>

                      Definition of the non-JTA datasource to use.

                    </xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:choice>

              <!-- **************************************************** -->

              <xsd:element name="mapping-file" type="xsd:string"
                           minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>

                    File containing mapping information. Loaded as a resource
                    by the persistence provider.

                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>

              <!-- **************************************************** -->

              <xsd:element name="jar-file" type="xsd:string"
                           minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>

                    Jar file that is to be scanned for managed classes.

                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>

              <!-- **************************************************** -->

              <xsd:element name="class" type="xsd:string"
                           minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>

                    Managed class to be included in the persistence unit and
                    to scan for annotations.  It should be annotated
                    with either @Entity, @Embeddable or @MappedSuperclass.

                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>

              <!-- **************************************************** -->

              <xsd:element name="exclude-unlisted-classes" type="xsd:boolean"
                           default="true" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>

                    When set to true then only listed classes and jars will
                    be scanned for persistent classes, otherwise the
                    enclosing jar or directory will also be scanned.
                    Not applicable to Java SE persistence units.

                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>


              <!-- **************************************************** -->

              <xsd:element name="default-to-one-fetch-type"
                           type="persistence:persistence-unit-default-to-one-fetch-type"
                           minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>

                    The default fetch type for one-to-one and many-to-one associations.

                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>


              <!-- **************************************************** -->

              <xsd:element name="shared-cache-mode"
                           type="persistence:persistence-unit-caching-type"
                           minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>

                    Defines whether caching is enabled for the
                    persistence unit if caching is supported by the
                    persistence provider. When set to ALL, all entities
                    will be cached. When set to NONE, no entities will
                    be cached. When set to ENABLE_SELECTIVE, only entities
                    specified as cacheable will be cached. When set to
                    DISABLE_SELECTIVE, entities specified as not cacheable
                    will not be cached. When not specified or when set to
                    UNSPECIFIED, provider defaults may apply.

                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>

              <!-- **************************************************** -->

              <xsd:element name="validation-mode"
                           type="persistence:persistence-unit-validation-mode-type"
                           minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>

                    The validation mode to be used for the persistence unit.

                  </xsd:documentation>
                </xsd:annotation>
              </xsd:element>


              <!-- **************************************************** -->

              <xsd:element name="properties" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation>

                    A list of standard and vendor-specific properties
                    and hints.

                  </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="property"
                                 minOccurs="0" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:documentation>
                          A name-value pair.
                        </xsd:documentation>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:attribute name="name" type="xsd:string"
                                       use="required"/>
                        <xsd:attribute name="value" type="xsd:string"
                                       use="required"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>

              <xsd:any namespace="##other" processContents="lax"
                       minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation>
                    An extension point for integration related configuration, e.g. cdi:
                    <!--
                    <persistence-unit name="my-unit" xmlns:cdi="https://jakarta.ee/xml/ns/persistence-cdi">
                      ...
                      <cdi:scope>com.example.jpa.ACustomScope</cdi:scope>
                      <cdi:qualifier>com.example.jpa.CustomQualifier</cdi:qualifier>
                    </persistence-unit>
                    -->
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:any>
            </xsd:sequence>

            <!-- **************************************************** -->

            <xsd:attribute name="name" type="xsd:string" use="required">
              <xsd:annotation>
                <xsd:documentation>

                  Name used in code to reference this persistence unit.

                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>

            <!-- **************************************************** -->

            <xsd:attribute name="transaction-type"
                           type="persistence:persistence-unit-transaction-type">
              <xsd:annotation>
                <xsd:documentation>

                  Type of transactions used by EntityManagers from this
                  persistence unit.

                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>

          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="version" type="persistence:versionType"
                     fixed="4.0" use="required"/>
    </xsd:complexType>
  </xsd:element>

  <!-- **************************************************** -->

  <xsd:simpleType name="persistence-unit-transaction-type">
    <xsd:annotation>
      <xsd:documentation>

        public enum PersistenceUnitTransactionType {JTA, RESOURCE_LOCAL};

      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="JTA"/>
      <xsd:enumeration value="RESOURCE_LOCAL"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- **************************************************** -->

  <xsd:simpleType name="persistence-unit-default-to-one-fetch-type">
    <xsd:annotation>
      <xsd:documentation>

        public enum FetchType { LAZY, EAGER, DEFAULT };

      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="LAZY"/>
      <xsd:enumeration value="EAGER"/>
      <!-- no DEFAULT -->
    </xsd:restriction>
  </xsd:simpleType>

  <!-- **************************************************** -->

  <xsd:simpleType name="persistence-unit-caching-type">
    <xsd:annotation>
      <xsd:documentation>

        public enum SharedCacheMode { ALL, NONE, ENABLE_SELECTIVE, DISABLE_SELECTIVE, UNSPECIFIED};

      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="ALL"/>
      <xsd:enumeration value="NONE"/>
      <xsd:enumeration value="ENABLE_SELECTIVE"/>
      <xsd:enumeration value="DISABLE_SELECTIVE"/>
      <xsd:enumeration value="UNSPECIFIED"/>
    </xsd:restriction>
  </xsd:simpleType>

<!-- **************************************************** -->

  <xsd:simpleType name="persistence-unit-validation-mode-type">
    <xsd:annotation>
      <xsd:documentation>

        public enum ValidationMode { AUTO, CALLBACK, NONE };

      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="AUTO"/>
      <xsd:enumeration value="CALLBACK"/>
      <xsd:enumeration value="NONE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- **************************************************** -->

  <xsd:simpleType name="isolation-level-type">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="TRANSACTION_NONE"/>
      <xsd:enumeration value="TRANSACTION_READ_UNCOMMITTED"/>
      <xsd:enumeration value="TRANSACTION_READ_COMMITTED"/>
      <xsd:enumeration value="TRANSACTION_REPEATABLE_READ"/>
      <xsd:enumeration value="TRANSACTION_SERIALIZABLE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- **************************************************** -->

  <xsd:complexType name="data-source-definition-type">
    <xsd:annotation>
      <xsd:documentation>
        Annotation used to define a container DataSource to
        be registered with JNDI. The DataSource may be configured
        by setting the annotation elements for commonly used DataSource
        properties. Additional standard and vendor-specific properties
        may be specified using the properties element.

        The data source will be registered under the name specified in
        the name element. It may be defined to be in any valid Jakarta
        EE namespace, which will determine the accessibility of the
        data source from other components.

        A JDBC driver implementation class of the appropriate type,
        either DataSource, ConnectionPoolDataSource, or XADataSource,
        must be indicated by the className element. The availability
        of the driver class will be assumed at runtime.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="description" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Description of this data source.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="class-name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
            Name of a DataSource class that implements javax.sql.DataSource,
            javax.sql.XADataSource, or javax.sql.ConnectionPoolDataSource.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="url" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            A JDBC URL.  If the url annotation element contains a DataSource
            property that was also specified using the corresponding
            annotation element, the precedence order is undefined and
            implementation specific.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="user" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            User name to use for connection authentication.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="password" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Password to use for connection authentication.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="database-name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Name of a database on a server.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="port-number" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Port number where a server is listening for requests.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="server-name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Database server name.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isolation-level" type="persistence:isolation-level-type" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Isolation level for connections. The Isolation level
            must be one of the following:

            TRANSACTION_NONE
            TRANSACTION_READ_UNCOMMITTED
            TRANSACTION_READ_COMMITTED
            TRANSACTION_REPEATABLE_READ
            TRANSACTION_SERIALIZABLE

            Default is vendor-specific.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="transactional" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Set to false if connections should not participate
            in transactions.

            Default is to enlist in a transaction when one is active or
            becomes active.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="initial-pool-size" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Number of connections that should be created when a connection
            pool is initialized.

            Default is vendor-specific.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="max-pool-size" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Maximum number of connections that should be concurrently
            allocated for a connection pool.

            Default is vendor-specific.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="min-pool-size" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Minimum number of connections that should be allocated for a
            connection pool.

            Default is vendor-specific.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="max-idle-time" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            The number of seconds that a physical connection should remain
            unused in the pool before the connection is closed for a
            connection pool.

            Default is vendor-specific.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="max-statements" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            The total number of statements that a connection pool should
            keep open. A value of 0 indicates that the caching of statements
            is disabled for a connection pool.

            Default is vendor-specific.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="login-timeout" type="xsd:int" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>
            Sets the maximum time in seconds that this data source will
            wait while attempting to connect to a database. A value of zero
            specifies that the timeout is the default system timeout if
            there is one; otherwise, it specifies that there is no timeout.

            Default is vendor-specific.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="property" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            Used to specify vendor-specific properties and less commonly
            used DataSource properties.

            If a DataSource property is specified in the properties element
            and the annotation element for the property is also specified,
            the annotation element value takes precedence.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
